{% extends "layout.html" %}
{% block content %}
<div class="container col-sm-6 content-section">
<div class="text-center pb-3">
    <h1><u>Contact Us</u></h1>
    <div>
      Name: G Haridev<br>
      Email: haridevgireesh@gmail.com<br>
      Mobile: +919526969248<br>
      <a href="https://www.facebook.com/linkineminem"><img class="rounded" src="https://i.ibb.co/vm1fNDp/facebook.png" style="width: 136px; height:47px ;"></a>
      <a href="https://www.instagram.com/linkin_eminem"><img class="rounded" src="https://i.ibb.co/KXq3nyN/instagram.png" style="width: 136px;height:47px ;"></a><br>
    </div>
</div>
<div class="text-center pt-3">
<small>
  <a class="btn btn-dark" href="{{ url_for('main.home') }}">Home</a>
</small>
</div>
</div>
{% endblock content %}